@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/_reset\.scss}line{font-family:\000031}}
body, ul, p, h1 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Tahoma, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/_reset\.scss}line{font-family:\000037}}
body {
  background: #f3f3f3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/_reset\.scss}line{font-family:\0000310}}
.wrapper {
  margin: 0 auto;
  max-width: 1140px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/_reset\.scss}line{font-family:\0000314}}
.wrapper.container {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/_reset\.scss}line{font-family:\0000318}}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*----------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\000036}}
header {
  background: #fff;
  position: relative;
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000311}}
.top-menu {
  max-height: 72px;
  width: 100%;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000316}}
.top-menu .max-width-995 {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000319}}
.top-menu .max-width-995 .transform-menu a {
  color: #999;
  font-size: 30px;
  display: block;
  padding: 20px 20px 14px;
  position: relative;
  top: -6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000328}}
.top-menu ul.main-menu-open {
  background: #fff;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000334}}
a.logo {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000339}}
ul.top-menu-list {
  list-style: none;
  margin-left: 8%;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000344}}
ul.top-menu-list > li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000346}}
ul.top-menu-list > li > a {
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000355}}
ul.top-menu-list > li:hover a {
  background: #8c8d8d;
  color: #fff;
  border-bottom: 3px solid #8c8d8d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000364}}
.top-menu-list-open-sub ul.sub-menu {
  margin-left: -14px;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000368}}
.lang {
  list-style: none;
  float: right;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000373}}
.lang .lang-open {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000377}}
.lang .lang-open:hover {
  border-left: 1px solid #8c8d8d;
  border-right: 1px solid #8c8d8d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000380}}
.lang .lang-open:hover a {
  background: #8c8d8d;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000384}}
.lang .lang-open:hover a:after {
  background-position: 0px -7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000388}}
.lang .lang-open:hover .lang {
  border-left: 1px solid #8c8d8d;
  border-right: 1px solid #8c8d8d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000392}}
.lang .lang-open:hover .lang-sub {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\0000397}}
.lang a {
  text-decoration: none;
  color: #999;
  text-transform: uppercase;
  display: block;
  padding: 27px 27px 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003104}}
.lang .lang-sub {
  list-style: none;
  position: absolute;
  display: none;
  background: #8c8d8d;
  left: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003112}}
.lang .lang-sub a {
  padding: 0px 27px 31px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003117}}
.lang-open > a:after {
  content: "";
  display: block;
  background: url("../img/lang_sprite.png") no-repeat;
  position: absolute;
  width: 7px;
  height: 4px;
  top: 50%;
  left: 70%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003128}}
ul.sub-menu > li {
  display: inline-block;
  text-align: center;
  margin: 30px 14px;
  vertical-align: top;
  width: 117px;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003136}}
ul.sub-menu li:last-child {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003139}}
ul.sub-menu > li > a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 1.0769em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003145}}
ul.sub-menu > li > a:hover .product-back {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003150}}
ul.sub-menu > li > a:hover .sub-menu-product-line ~ span {
  -ms-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -webkit-transform: translateY(-70px);
  transform: translateY(-70px);
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003154}}
.sub-menu-product-line ~ span {
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  position: relative;
  display: block;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003160}}
.sub-menu-product-line {
  width: 117px;
  height: 117px;
  overflow: hidden;
  background-color: #7c7c7c;
  position: relative;
  line-height: 11;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003168}}
.sub-menu-container {
  background: #8c8d8d;
  width: 100%;
  left: 0;
  position: absolute;
  display: none;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003178}}
.top-menu-list li.top-menu-list-open-sub:hover a {
  background: #8c8d8d;
  border-bottom: 3px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003182}}
.top-menu-list li.top-menu-list-open-sub:hover .sub-menu-container {
  display: block;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003186}}
.top-menu-list a.active {
  border-bottom: 3px solid #ff4700;
  color: #ff4700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003192}}
.product-back {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/*-----------------Banner-----------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003201}}
.banner {
  background: url("../img/banner_foto_large.jpg") no-repeat center center;
  max-height: 522px;
  width: 100%;
  text-align: center;
  background-size: cover;
  padding-bottom: 250px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003210}}
.banner:before {
  content: "";
  display: block;
  width: 100%;
  -ms-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.39);
  -o-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.39);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.39);
  height: 1%;
  position: absolute;
  top: -1%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003219}}
.banner:after {
  content: "";
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#B3000000',GradientType=0 );
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  height: 45%;
  position: absolute;
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003228}}
.banner-text {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 15px;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003235}}
.banner-text.text1 {
  font-size: 2.7692em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 115px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003241}}
.banner-text.text2 {
  font-size: 1.8462em;
  margin-top: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003245}}
.banner-button {
  background: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto 0px;
  max-height: 45px;
  max-width: 292px;
  position: relative;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003254}}
.banner-button a {
  color: #fff;
  font-size: 1.0769em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 13px 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003262}}
.banner-button a:before {
  content: "";
  background: url("../img/banner_button.png") no-repeat;
  display: block;
  height: 22px;
  width: 22px;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003271}}
.banner-list {
  margin-top: -130px;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003277}}
.banner-list-header {
  position: relative;
  text-transform: uppercase;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003282}}
.banner-list-header span {
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=$blur, Direction=135, Color=$color)";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=$blur, Direction=135, Color=$color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003288}}
.banner-list-header span:after,
.banner-list-header span:before {
  content: "";
  border-top: 1px solid #8c8d8d;
  width: 43%;
  height: 1px;
  display: block;
  position: absolute;
  top: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003297}}
.banner-list-header span:before {
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003300}}
.banner-list-products {
  list-style: none;
  width: 100%;
  background: #fff;
  max-height: 50px;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003308}}
.banner-list-products li {
  display: inline-block;
  width: 16.6669%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003312}}
.banner-list-products li:hover {
  background: #8c8d8d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003314}}
.banner-list-products li:hover a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003319}}
.banner-list-products li a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 17px 0 16px;
  border-right: 1px solid #000;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003329}}
.banner-list-products li:last-child a {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003334}}
.banner-item {
  float: left;
  margin-right: 1.315%;
  width: 32.4561%;
  max-width: 370px;
  height: 250px;
  margin-top: 35px;
  overflow: hidden;
  text-align: center;
  font-size: 1.0769em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003345}}
.banner-item p {
  color: #fff;
  position: relative;
  top: 200px;
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=$blur, Direction=135, Color=$color)";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=$blur, Direction=135, Color=$color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003352}}
.banner-item p:first-of-type {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3846em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003357}}
.banner-item .back-p-gradient {
  background: rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#B3000000',GradientType=0 );
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003361}}
.banner-item.calculate {
  background: url("../img/calc_banner.jpg") no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003365}}
.banner-item.config {
  background: url("../img/konf.jpg") no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003368}}
.banner-item:last-child {
  margin-right: 0;
}

/*-----Slider----*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003376}}
.slider {
  position: relative;
  height: 270px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003380}}
.slider-content {
  width: 1480px;
  overflow: hidden;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003386}}
.slider-content-item {
  display: inline-block;
  width: 370px;
  height: 250px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003391}}
#slider-item-1 {
  background: url("../img/slider_item_1.jpg") no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003394}}
#slider-item-2 {
  background: url("../img/slider_item_2.jpg") no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003397}}
#slider-item-3 {
  background: url("../img/slider_item_3.jpg") no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003400}}
#slider-item-4 {
  background: url("../img/slider_item_4.jpg") no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003403}}
.slider-label {
  background: #eb4200;
  position: absolute;
  top: 30px;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003409}}
.slider-label span {
  position: relative;
  padding: 9px 15px;
  font-weight: bold;
  font-size: 0.9231em;
  color: #fff;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003417}}
.slider-label span:after {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  border-top: 17px solid #eb4200;
  border-left: 10px solid #eb4200;
  border-right: 10px solid transparent;
  border-bottom: 17px solid transparent;
  top: 0;
  right: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003433}}
.slider-nav {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003437}}
.switchers:hover {
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003440}}
.switchers li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003443}}
.switchers li a {
  display: block;
  margin-right: 7px;
  height: 7px;
  width: 7px;
  background: #bbbbbb;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003451}}
.switchers li a.active {
  background: #ff4700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003457}}
.switchers a:hover {
  background: #ff4700;
}

/*----------------Content----------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003461}}
.content {
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003464}}
.content .content-header {
  min-height: 60px;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003468}}
.content .content-header .content-header-main {
  position: relative;
  background: #eb4200;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003472}}
.content .content-header .content-header-main .fa-gift {
  width: 32px;
  height: 32px;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #eb4200;
  font-size: 1.2308em;
  margin: 0 45px;
  position: relative;
  top: -7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003483}}
.content .content-header .content-header-main .fa-gift:before {
  position: relative;
  top: 8px;
  left: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003490}}
.content .content-header .content-header-main h1 {
  font-size: 1.0769em;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 21px 75px 21px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003497}}
.content .content-header .content-header-main h1:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid #eb4200;
  border-left: 10px solid #eb4200;
  border-right: 10px solid transparent;
  border-bottom: 30px solid transparent;
  right: -20px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003512}}
.content .content-header span {
  margin-left: 95px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003516}}
.content .content-text {
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003518}}
.content .content-text .column {
  width: 45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003520}}
.content .content-text .column p.head {
  color: #444444;
  margin: 30px 0 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003524}}
.content .content-text .column p {
  color: #999999;
  line-height: 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003528}}
.content .content-text .column p a {
  color: #ff4700;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003533}}
.content .content-text .column.column_1 {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003536}}
.content .content-text .column.column_2 {
  float: right;
}

/*----------Footer--------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003543}}
footer {
  background: #939494;
  margin-top: 65px;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003549}}
.footer-info {
  padding: 16px 1% 19px 0;
  font-size: 0.9231em;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003554}}
.footer-info:after {
  content: "";
  display: block;
  position: absolute;
  height: 71px;
  width: 1px;
  border-right: 1px solid #a6a6a6;
  top: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003567}}
.footer-info .partner {
  display: inline-block;
  width: 19%;
  margin-right: 5%;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003573}}
.footer-info .partner span {
  font-size: 0.8462em;
  float: right;
  line-height: 1.1em;
  width: 38%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003581}}
.footer-info ul.footer-links {
  display: inline-block;
  width: 32%;
  margin-right: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003586}}
.footer-info ul.footer-links li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003592}}
.footer-info ul.footer-links li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9231em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003601}}
.footer-info ul.contact {
  display: inline-block;
  width: 22%;
  margin-right: 3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003605}}
.footer-info ul.contact:before {
  content: "";
  display: block;
  position: absolute;
  height: 71px;
  width: 1px;
  border-left: 1px solid #a6a6a6;
  top: 0;
  left: 83%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003615}}
.footer-info ul.contact li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003618}}
.footer-info ul.contact li .fa-phone, .footer-info ul.contact li .fa-envelope-o {
  width: 29px;
  height: 29px;
  background: #7c7c7c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  margin: 0 6px;
  position: relative;
  top: -7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003629}}
.footer-info ul.contact li .fa-phone:before, .footer-info ul.contact li .fa-envelope-o:before {
  position: relative;
  top: 8px;
  left: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003637}}
.footer-info .fb {
  display: inline-block;
  width: 11%;
  background: #3a5795;
  padding: 10px 1% 10px 1%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003644}}
.footer-info .fb .fb-like {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003646}}
.footer-info .fb .fb-like:after {
  content: "";
  display: block;
  position: absolute;
  border-right: 1px solid #6179aa;
  height: 100%;
  width: 1px;
  top: 0;
  right: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003658}}
.footer-info .fb .fb-like-count {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003664}}
.copyright {
  max-height: 35px;
  border-top: 1px solid #a6a6a6;
  font-size: 0.8462em;
  padding: 11px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003671}}
.copyright span .BebasNeue-font {
  font-face: BebasNeue, Tahoma, sans-serif;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003675}}
.copyright span:last-child {
  float: right;
}

/*------@media--------*/
@media screen and (max-width: 1140px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003684}}
  .banner-item {
    float: none;
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003691}}
  .wrapper.container {
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003697}}
  .content .content-text .column {
    padding-left: 1%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003705}}
  .footer-info .partner span {
    float: none;
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 995px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003715}}
  ul.top-menu-list {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003718}}
  ul.main-menu-open {
    display: block;
    border-top: 1px solid #ddd;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003721}}
  ul.main-menu-open li {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003723}}
  ul.main-menu-open li a {
    border-bottom: 3px solid transparent;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003728}}
  .top-menu {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003731}}
  .top-menu a.logo {
    vertical-align: baseline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003736}}
  .top-menu .max-width-995 {
    display: inline-block;
  }
}
@media screen and (max-width: 823px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003745}}
  body {
    font-size: 14px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003748}}
  .banner-list-products {
    max-height: none;
    position: relative;
    z-index: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003753}}
  .banner-list-products li {
    display: table-cell;
    border-right: 1px solid #000;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003756}}
  .banner-list-products li a {
    border-right: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003764}}
  .footer-info ul.footer-links {
    list-style: none;
    width: 22%;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003769}}
  .footer-info ul.footer-links li {
    display: block;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003774}}
  .footer-info ul.contact {
    position: relative;
    width: 24%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003777}}
  .footer-info ul.contact:before {
    right: -3%;
    left: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003782}}
  .footer-info .fb {
    width: 24%;
  }
}
@media screen and (max-width: 570px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003790}}
  body {
    font-size: 16px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003793}}
  .logo > img {
    height: auto;
    max-width: 170px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003797}}
  .banner-item {
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003801}}
  .banner-text.text1 {
    font-size: 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003807}}
  .banner-button a:before {
    left: 0;
    margin-left: 5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003813}}
  .content-header-main ~ span {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003818}}
  .content .content-text .column {
    width: auto;
    font-size: 1em;
    margin-top: 5%;
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003824}}
  .content .content-text .column.column_1 {
    float: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003827}}
  .content .content-text .column.column_2 {
    float: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003832}}
  .content .content-text .column p {
    font-size: 1em;
    line-height: 22px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003839}}
  .content .content-header .content-header-main {
    display: block;
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003843}}
  .content .content-header .content-header-main .fa-gift {
    margin: 0 auto;
    top: 10px;
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003848}}
  .content .content-header .content-header-main .fa-gift:before {
    left: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003852}}
  .content .content-header .content-header-main h1 {
    padding: 21px 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003854}}
  .content .content-header .content-header-main h1:after {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003862}}
  .footer-info .partner {
    width: 125px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003866}}
  .footer-info ul.footer-links {
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003870}}
  .footer-info ul.contact {
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003873}}
  .footer-info ul.contact:before {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003877}}
  .footer-info .fb {
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003880}}
  .footer-info .fb .fb-like-count {
    margin-left: 13px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Anton\/Desktop\/WebChallenge\/scss\/style\.scss}line{font-family:\00003887}}
  .copyright span:last-child {
    display: block;
    float: none;
  }
}
